@keyframes comeIn {
    0% { transform: scale(.5); opacity: 0; }
    75% { transform: scale(1.03); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

.xmasonry .xblock {
    animation: comeIn ease 0.5s;
    animation-iteration-count: 1;
    transition: left .3s ease, top .3s ease;
}
/* .xmasonry-static {
    text-align: center;
    overflow: auto;
}
 
.xblock-static {
    float: left;
    text-align: left;
}
 */
.card {
    margin: 7px;
    border-radius: 3px;
    box-shadow: 0 1px 3px darkgray;
    background-color: #fff;
    text-align: justify;
    flex-wrap: wrap;
}

.card img {
    max-width: 100%;
}

.card-content{
    padding:8px;
}

.shadow {
    border-radius: 3px;
    box-shadow: 0 1px 3px darkgray;
}

#navStyle{
    background-color: #000;
}